@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .form {
    width: 100%;
  }
}

/* Set the display property of the container element to flex to create a flex container */
.container {
    display: flex;
    /* Set flex-wrap to nowrap to ensure that flex items do not wrap to a new line */
    flex-wrap: nowrap;
    /* Set the horizontal alignment of flex items to the left of the container */
    justify-content: left;
    /* Set the width of the container element to 100% */
    width: 100%;
    padding-bottom: 0px;
  }

ul {
    margin: 0;
    padding: 0;
    padding-left: 2%;
  }

li {
    margin: 1px 0;
    padding-left: 0%;
  }

  iframe {
    border: 0;
    width: 100%;
    height: 700px;
    frameborder: 0;
    scrolling: no;
    overflow: auto; /* add overflow property */
  }

.form {
    width: 50%;
  }
